*.pyc
docs/_build
venv/*
data/*
.DS_Store
.ipynb_checkpoints
.idea
/build
.coverage
/*.json
/htmlcov
/mwtab.egg-info
/src/mwtab.egg-info
src/mwtab/_version.py
/scratch
docs/standard_column_names.json
/docs/_contents
