.page-toc .nav-link {
    font-size: var(--pst-sidebar-header-font-size);
    font-weight: var(--pst-sidebar-header-font-weight);
}

.page-toc .nav-link code.xref, a code {
    font-size: var(--pst-sidebar-font-size);
    font-weight: ;
}
